{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "@next/next/no-img-element": "off",
    "react/display-name": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
