{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 120,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "trailingComma": "all",
  "useTabs": true
}
